@import url('https://webfontworld.github.io/score/SCoreDream.css');

.postPage {
  padding: 2.5rem 0;
  text-align: left;
  /* min-height: 50rem; */
}

.post {
  padding: 2rem;
  border: 1px solid #ececec;
  border-radius: 4px;
}

.postPage h1 {
  font-size: 1.5rem;
}

.postPage h3 {
  color: brown;
  margin: 0;
}

.titleBox p {
  /* color: gray; */
  font-size: 0.9rem;
}

.info {
  display: flex;
  align-items: center;
}

.companyname {
  font-size: 1rem;
  font-weight: 500;
  background-color: #ececec;
  color: black;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
}

.postInfo > div {
  display: flex;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.postInfo p {
  display: flex;
  margin-right: 1rem;
}

.postInfo svg {
  margin-right: 0.5rem;
}

.btnBox button {
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background-color: brown;
  color: white;
  font-family: 'SCoreDream';
}

.btnBox button:hover {
  background-color: rgb(207, 73, 73);
}

.commentBox {
  width: 100%;
  border: 1px solid #ececec;
}

.comments {
  /* padding: 2rem; */
}

.noComments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #ececec;
}

.noComments svg {
  color: #ececec;
  font-size: 5rem;
}

.noComments p {
  font-size: 1.2rem;
  font-weight: 500;
}

.comment {
  padding: 2rem;
  margin-bottom: 0.1rem;
  border-bottom: 1px solid #ececec;
}

.commentBtnBox {
  margin-top: 1rem;
}

.commentBtnBox button {
  padding: 0.5rem 1rem;
  font-family: 'SCoreDream';
  margin-right: 0.5rem;
  border-radius: 4px;
}
.commentBtnBox button:hover {
  background-color: rgb(202, 201, 201);
}

.commentTop {
  display: flex;
  justify-content: space-between;
}

.commentNickname {
  font-size: 1.1rem;
  font-weight: 500;
}
.commentTime {
  color: gray;
}

.commentArea {
  width: 100%;
  border: none;
  resize: none;
  padding: 2rem;
  font-size: 1rem;
  border-radius: 4px;
  font-family: 'SCoreDream';
  outline: none;
}

.editComment {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-family: 'SCoreDream';
  outline: none;
}

.buttonBox {
  padding: 0.2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonBox button {
  color: white;
  background-color: brown;
  padding: 0.5rem 1rem;
  font-family: 'SCoreDream';
  border-radius: 4px;
  font-size: 1rem;
}

.buttonBox button:hover {
  background-color: rgb(133, 37, 37);
}

.backBtn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  font-family: 'SCoreDream';
  background: transparent;
  border: 1px solid #ececec;
}

@media screen and (max-width: 700px) {
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .companyname {
    margin: 0.5rem 0;
  }
  .postInfo {
    align-items: flex-start;
    flex-direction: column;
  }
  .btnBox {
    width: 100%;
    justify-content: center;
  }

  @media screen and (max-width: 500px) {
    .btnBox {
      flex-direction: column;
    }
    .btnBox button {
      margin-top: 0.5rem;
    }
  }
}
