@import url('https://webfontworld.github.io/score/SCoreDream.css');

.postAdd {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 1px solid #ececec;
  text-align: left;
}

.titleBox p span {
  color: gray;
}

.titleBox p {
  font-weight: 500;
}

.company p {
  font-weight: 500;
}

.companyInput {
  width: 125px;
  padding: 0.5rem 1rem;
  border: solid 1px #ececec;
  border-radius: 4px;

  outline: none;
}

.stack {
  display: flex;
  align-items: center;
}

.stack select {
  outline: none;
  padding: 0.5rem 1rem;
  font-family: 'SCoreDream';
  border-radius: 4px;
}

.selectedStack {
  color: brown;
  padding: 0.5rem 1.5rem;
  border-radius: 18px;
  border: 1px solid brown;
  margin-left: 1rem;
  font-family: 'SCoreDream';
  font-weight: 500;
}

.title {
  width: 100%;
}

.title input {
  margin-top: 1rem;
  width: 100%;
  padding: 1.8rem 0;
  border: none;
  font-family: 'SCoreDream';
  font-size: 1.8rem;
  border-bottom: 1px solid #ececec;
  outline: none;
}

.contentBox {
  margin-top: 2rem;
}

.content {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: 'SCoreDream';
  font-weight: 300;
  resize: none;
}

.buttonBox {
  padding: 0.2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonBox button {
  color: white;
  background-color: brown;
  padding: 0.5rem 1rem;
  font-family: 'SCoreDream';
  border-radius: 4px;
  font-size: 1rem;
}

.buttonBox button:hover {
  background-color: rgb(133, 37, 37);
}

.backBtn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  font-family: 'SCoreDream';
  background: transparent;
  border: 1px solid #ececec;
}

.disable {
  opacity: 0.8;
  cursor: not-allowed;
}
