.container {
  width: 50%;
  /* background: #fff; */
  padding-top: 55px;
  margin: 0 auto;
  max-width: 1000px;

  /* flex: 1; */
}

/* .main {
  padding-top: 30px;
} */

@media screen and (max-width: 700px) {
  .container {
    padding-top: 105px;
  }
}
@media screen and (max-width: 550px) {
}
